<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Management System</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include("includes/header.ejs") %>
  <div class="container">
    <!-- Your homepage content goes here -->
    <p class="heading">Welcome to our Library Management System homepage!</p>
  </div>
</body>
</html>
