<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>issuebook</title>
</head>
<body>
    <%- include("includes/header.ejs") %>
    <div class="detail">
        <h1>Issued Book</h1>
        
    </div>
</body>
</html>